body {
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.43;
    color: #333;
}
a{
    background-color: transparent!important;
    color: white!important;
    text-decoration: none;
}
ul{
    list-style: none;
}
.green-cross{
    border: 3px solid #17aa1c;
    z-index: 1;
}
/*-- Fallback image for mobile --*/
 .banner-bg{
 height: 100%;
 width: 100%;
 position: absolute;
 top: 0;
 background-size: cover;
 background-repeat: no-repeat;
 background-position:50%;
 z-index:-1;
-webkit-animation:changeBg 5s infinite; 
}

 @-webkit-keyframes changeBg{
 0%   {background-image: url("img/man_mockup_n.jpg");}
 50%{background-image: url(img/woman_phone.jpg);}
 100%{background-image: url(img/man_mockup_n.jpg);}
}
.navbar{
    border: none!important;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    background: linear-gradient(to top, rgba(255,0,0,0), rgba(0, 0, 0,));
}
.navbar-brand{
    padding: 10px;
}
.blank-space{
    width: 60%;
}
.last-element{
    margin-right: 20px;
}

.top-box{
    position: absolute;
    top: 30%;
    left: 30%;
    width: 840px;
    background: rgba(0,0,0,.85);
    padding: 50px 60px;
    margin-top: auto;
    border-radius: 2px;
    text-align: center;
    z-index: 1;
}
.heading{
    text-align: center;
    margin: 0;
    color: #fff;
    font-size: 35px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 1.3px;
    padding-bottom: 15px;
}
.subhead{
    color: #fff;
    font-size: 24px;
    margin-bottom: 30px;
    line-height: 1;
    font-weight: 200;
}
.formbox{
    margin-bottom: 50px;
}
.search-inp-container .input-group-addon{
    background-color: #1376d7!important;
}
.glyphicon-search{
    color: white;
}
.gridbottombox{
    margin-top: 0px;
   
}
.col-md-4{
    color: #fff;
    opacity: 0.8;
    font-size: 16px!important;
    text-align: left;
    line-height: 1.43!important;
}
.col-md-4 i{
    margin-right: 20px;
    font-size: 30px;
    float: left;
}
.modal-title{
    
    text-align: center;
    margin: 0;
    color: #355368;
    font-size: 24px;
    
    padding: 10px 0;
}
.box-left{
    border-right: 1px solid black;
}
.box-separator{
    background: #d3d3d3;
    width: 1px;
}

.loginfb{
    background-color: #2b85c3;
    cursor: pointer;
    display: inline-block;
    width: 270px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 30px;
    /*padding: 30px;*/
}

.loginfb i{
    color: white;
    padding: 15px 0 15px 5px;
    display: inline-block;
    font-size: 20px;
    border-right: 1px solid rgba(0,0,0,.2);
    margin-right: 10px;
    width: 50px;
    text-align: center;
    font-weight: 400;
}
.loginfb span{
    color: white;
    font-size: 16px;
    font-weight: 700;
}



.logingg{
    background-color: #d03a3c;
    cursor: pointer;
    display: inline-block;
    width: 270px;
    height: 50px;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    /*padding: 20px;*/
}
.abcRioButtonLightBlue{
    background-color: #d03a3c!important;
}
.abcRioButtonContents{
    color: black;
}
.logingg i{
    color: white;
    padding: 15px 0 15px 5px;
    display: inline-block;
    font-size: 20px;
    border-right: 1px solid rgba(0,0,0,.2);
    margin-right: 10px;
    width: 50px;
    text-align: center;
    font-weight: 400;
}
.logingg span{
    color: white;
    font-size: 14px;
    font-weight: 700;
}
.logindf{
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    border-left: 1px solid grey;
}
.logindf h4{
    font-family: inherit;
    line-height: 1.1;
    font-size: 16px;
    
    color: #355368;
}
.input-group .input-group-addon{
    background-color: white;
    border-right: none;
}

.endbox{
    border-top: 1px solid #d3d3d3;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: inset 0 1px #fff;
    padding-top: 16px;
    font-size: 16px;
    
    text-align: center;
}