---
title: "Footer Video block"
---
<div class="container-fluid video-footer-block">
    <div class="row">
        <div class="col-xs-12 no-gutter position-relative">
            <picture>
                <source media="(min-width: 75rem)" srcset="/img/footer_video_preview.jpg">
                <source media="(min-width: 62rem)" srcset="/img/footer_video_preview.jpg">
                <source media="(min-width: 48rem)" srcset="/img/footer_video_preview.jpg">
                <img class="header-slider__item__image-preview" src="/img/footer_video_preview.jpg" alt="" />
            </picture>
            <div class="video-footer-block__container" data-require="base/views/video_block">
                <video>
                    <source src="/videos/niteco.mp4" type='video/mp4'>
                    <source src="/videos/niteco.webm" type='video/webm'>
                    <source src="/videos/niteco.ogg" type="video/ogg">
                </video>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-25 news-event-container slide-in-from-bottom inactive checking-animate">
            <a href="#" class="news-btn">News</a>
            <a href="javascript:void(0)" class="date-picker-btn"><i class="fa fa-calendar"></i>May 21, 2015</a>
            <h2>Desert Rideand Drive</h2>
            <p>
                Experience the latest models and their
                heritage cars first hand on an off-road
                trip through Dubai's deserts.
            </p>
            <a href="#" class="read-more">know more</a>
        </div>
    </div>
</div>