
body {
    @include rtl() {
        text-align: right;
    }
}

.page-wrapper-content {
    @include rtl() {
        left: auto;
        right: 0;

        &.show-menu {
            left: auto;
            right: -86%;
        }
    }
}

.tab-column {
    @include rtl() {
        border-left: none;
        border-right: rem(1px solid #dbdbe2);

        &:nth-child(1) {
            border: none;
        }
    }
}

.tab-item {
    @include rtl() {
        float: right;

        span {
            text-align: right;

            @include respond-to-min($tabletSize) {
                @include both-center-rtl(absolute);
            }
            @include respond-to-min($desktopSize) {
                position: relative;
                top: auto;
                right: auto;
                transform: none;
            }
        }
    }
}
