---
title: "Home Page"
---
<body>
    <div class="bg-gray">
        {{> _navbar_udemy}}
        {{> udemy_header_slider }}
        {{> modal-home }}

        {{> course-cards}}

        {{> udemy-home-block}}
        {{> footer-udemy}}
    </div>
    <script src="/../js/lib/bower/require.js" data-main="/../js/main-async"></script>
</body>




