---
title: "Details"
---
<body data-spy="scroll" data-target="#udemy-scrollbar" data-offset="10" >
{{> header-course}}
{{> introdution-detail-course }}
{{> scroll-course-detail}}
{{> footer-udemy}}

    <script src="/../js/lib/bower/require.js" data-main="/../js/main-async"></script>
</body>