---
title: "Amber block"
---
<div class="common-block amber-block column-same-height">
    <h4 class="common-block-title">amber</h4>
    <div class="amber-contents orange-top-border">
        <div class="thumbnail amber-thumbnail">
            <a href="#"><img src="/img/amber-img.jpg" alt="" /></a>
        </div>
        <div class="amber-short-description">
            <h3><a href="#">A loyalty program like no other</a></h3>
            <a href="#" class="read-more">Get more value for your card</a>
        </div>
    </div>
</div>