---
title: "Home events block"
---
<div class="common-block upcomming-event-block" >
    <h4 class="common-block-title">upcoming events</h4>
    <div class="upcomming-event-contents" data-require="base/upcoming-events-block">
        <div class="upcomming-carousel">
            <div>
                <div class="event-item orange-top-border column-same-height same-height-desktop">
                    <div class="thumbnail event-thumbnail">
                        <a href="#"><img src="/img/event-img1.jpg" alt="" /></a>
                    </div>
                    <div class="event-item-short-description">
                        <h3><a href="#">Al Tayer Motors Launches Ford Trucks at the Big 5</a></h3>
                        <p>Al Tayer Motors launched Ford Trucks in the UAE at PMV Live, held at the Dubai World Trade Centre.</p>
                    </div>
                </div>
                <div class="event-item orange-top-border column-same-height same-height-desktop">
                    <div class="thumbnail event-thumbnail">
                        <a href="#"><img src="/img/event-img1.jpg" alt="" /></a>
                    </div>
                    <div class="event-item-short-description">
                        <h3><a href="#">Al Tayer Motors Launches Ford Trucks</a></h3>
                        <p>Al Tayer Motors launched Ford Trucks in the UAE at PMV Live</p>
                    </div>
                </div>
                <div class="event-item orange-top-border column-same-height same-height-desktop">
                    <div class="thumbnail event-thumbnail">
                        <a href="#"><img src="/img/event-img1.jpg" alt="" /></a>
                    </div>
                    <div class="event-item-short-description">
                        <h3><a href="#">Al Tayer Motors Launches Ford Trucks at the Big 5</a></h3>
                        <p>Al Tayer Motors launched Ford Trucks in the UAE at PMV Live, held at the Dubai World Trade Centre.</p>
                    </div>
                </div>
                <div class="event-item orange-top-border column-same-height same-height-desktop">
                    <div class="thumbnail event-thumbnail">
                        <a href="#"><img src="/img/event-img1.jpg" alt="" /></a>
                    </div>
                    <div class="event-item-short-description">
                        <h3><a href="#">Al Tayer Motors Launches Ford Trucks at the Big 5</a></h3>
                        <p>Al Tayer Motors launched Ford Trucks in the UAE at PMV Live, held at the Dubai World Trade Centre.</p>
                    </div>
                </div>
                <div class="event-item orange-top-border column-same-height same-height-desktop">
                    <div class="thumbnail event-thumbnail">
                        <a href="#"><img src="/img/event-img1.jpg" alt="" /></a>
                    </div>
                    <div class="event-item-short-description">
                        <h3><a href="#">Al Tayer Motors Launches Ford Trucks</a></h3>
                        <p>Al Tayer Motors launched Ford Trucks in the UAE at PMV Live</p>
                    </div>
                </div>
                <div class="event-item orange-top-border column-same-height same-height-desktop">
                    <div class="thumbnail event-thumbnail">
                        <a href="#"><img src="/img/event-img1.jpg" alt="" /></a>
                    </div>
                    <div class="event-item-short-description">
                        <h3><a href="#">Al Tayer Motors Launches Ford Trucks at the Big 5</a></h3>
                        <p>Al Tayer Motors launched Ford Trucks in the UAE at PMV Live, held at the Dubai World Trade Centre.</p>
                    </div>
                </div>
                <div class="event-item orange-top-border column-same-height same-height-desktop">
                    <div class="thumbnail event-thumbnail">
                        <a href="#"><img src="/img/event-img1.jpg" alt="" /></a>
                    </div>
                    <div class="event-item-short-description">
                        <h3><a href="#">Al Tayer Motors Launches Ford Trucks at the Big 5</a></h3>
                        <p>Al Tayer Motors launched Ford Trucks in the UAE at PMV Live, held at the Dubai World Trade Centre.</p>
                    </div>
                </div>
                <div class="event-item orange-top-border column-same-height same-height-desktop">
                    <div class="thumbnail event-thumbnail">
                        <a href="#"><img src="/img/event-img1.jpg" alt="" /></a>
                    </div>
                    <div class="event-item-short-description">
                        <h3><a href="#">Al Tayer Motors Launches Ford Trucks</a></h3>
                        <p>Al Tayer Motors launched Ford Trucks in the UAE at PMV Live</p>
                    </div>
                </div>
                <div class="event-item orange-top-border column-same-height same-height-desktop">
                    <div class="thumbnail event-thumbnail">
                        <a href="#"><img src="/img/event-img1.jpg" alt="" /></a>
                    </div>
                    <div class="event-item-short-description">
                        <h3><a href="#">Al Tayer Motors Launches Ford Trucks at the Big 5</a></h3>
                        <p>Al Tayer Motors launched Ford Trucks in the UAE at PMV Live, held at the Dubai World Trade Centre.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="upcomming-carousel-navigation">
            <a href="javascript:void(0)" class="prev"><i class="fa fa-angle-left">&nbsp;</i></a>
            <a href="javascript:void(0)" class="next"><i class="fa fa-angle-right">&nbsp;</i></a>
        </div>
    </div>
</div>