body {
width: 100%;
height: 100%;
}

/* header */
.header {
    height: 80px;
    background-color: #c00010;
}
h1 {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    width: 130px;
    margin-left: 20px;
    padding-top: 15px;
}
.header > p:nth-child(2){
     color: #fff;;
    font-family: sans-serif;
    font-size: 14px;
    width: 160px;
    margin-top: 18px;
    margin-left: 20px;
}
.header > p:nth-child(3){
    color: #fff;;
    font-family: sans-serif;
    margin-left: 300px;
    margin-top: -18px;
     width: 80px;
    font-size: 22px
}
.header > p:nth-child(5){
    color: #fff;;
    font-family: sans-serif;
    margin-top: -40px;
    font-size: 14px;
    margin-left: 950px;
    font-weight: 100;
    color: antiquewhite;

}
.logoff{
    margin-left: 30px;
    font-weight: 700;
}
.line {
    width: 830px;
     margin-top: -5px;
    margin-left: 375px;
    border: 1px solid antiquewhite;
}
/*NAVING*/
.myNav {
    float: right;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 13px;
    margin-top: -53px;
    padding-right: 180px;
    background:  -webkit-gradient(linear, 0% 49%, 0% 100%, from(#C00010), to(#c00020), color-stop(.8,#8A0007));
    height: 27px;
}
.myNav ul {
     list-style: none;
    padding-left: 40px;
    padding-right: 50px;
     line-height: 22px;
}
.myNav ul li {
   display: inline;
}

.myNav ul li a{
    text-decoration: none;
    color: antiquewhite;
    border-left: 1px solid antiquewhite;
    padding-left: 15px;
}



/* filter */
.filter {
    height: 60px;
    background-color: #4b4b4b;
}
/* mainTable contains mainData */
.mainTable {
    height: 250px;
    background-color: whitesmoke;
}
/* Create */
.creation {
    height: 80px;
    background-color: lightgray;
}
/* import data */
.import {
    height: 130px;
    background-color: gray;
}
/* export data*/
.export {
    height: 40px;
    background-color: whitesmoke;
}
/* the footer */
footer {
     height: 40px;
    background-color: #c00010;
}
