---
title: "Brand Navigations"
---
<div class="brand-navigations-container" data-require="base/modules/brand_line">
    {{#each brand-navigations.items}}
    <a href="#" class="brand-item-7">
        <img src="{{img-src}}" alt="" />
        <img class="image-blur" src="{{img-blur}}" alt=""/>
    </a>
    {{/each}}
</div>