---
title: "Footer bottom block"
---
<div class="container-fluid bottom-footer-block">
    <div class="row">
        <div class="col-xs-12 col-lg-8 hidden-xs">
            <div class="footer-navigation" data-require="base/modules/footer_navigation">
                <div class="footer-link">
                    <h3><a href="#">New Cars</a></h3>
                    <ul class="footer-menu">
                        <li><a href="#">Ford</a></li>
                        <li><a href="#">Ford Trucks</a></li>
                        <li><a href="#">Lincoln</a></li>
                        <li><a href="#">Jaguar</a></li>
                        <li><a href="#">Land Rover</a></li>
                        <li><a href="#">Maserati</a></li>
                        <li><a href="#">Ferrari</a></li>
                    </ul>
                </div>
                <div class="footer-link">
                    <h3><a href="#">pre-owned</a></h3>
                    <ul class="footer-menu">
                        <li><a href="#">Ford</a></li>
                        <li><a href="#">Ford Trucks</a></li>
                        <li><a href="#">Lincoln</a></li>
                        <li><a href="#">Jaguar</a></li>
                        <li><a href="#">Land Rover</a></li>
                        <li><a href="#">Maserati</a></li>
                        <li><a href="#">Ferrari</a></li>
                    </ul>
                </div>
                <div class="footer-link">
                    <h3><a href="#">after sales</a></h3>
                    <ul class="footer-menu">
                        <li><a href="#">Ford</a></li>
                        <li><a href="#">Ford Trucks</a></li>
                        <li><a href="#">Lincoln</a></li>
                        <li><a href="#">Jaguar</a></li>
                        <li><a href="#">Land Rover</a></li>
                        <li><a href="#">Maserati</a></li>
                        <li><a href="#">Ferrari</a></li>
                    </ul>
                </div>
                <div class="footer-link">
                    <h3><a href="#">finance & insurance</a></h3>
                    <ul class="footer-menu">
                        <li><a href="#">Vehicle Finance</a></li>
                        <li><a href="#">Insurance Renewal</a></li>
                    </ul>
                    <ul class="footer-external-links">
                        <li><a href="#">careers</a></li>
                        <li><a href="#">events</a></li>
                        <li><a href="#">amber</a></li>
                    </ul>
                </div>
                <div class="footer-link">
                    <h3><a href="#">about</a></h3>
                    <ul class="footer-menu">
                        <li><a href="#">Mission Statement</a></li>
                        <li><a href="#">History</a></li>
                        <li><a href="#">Group</a></li>
                    </ul>
                    <ul class="footer-external-links">
                        <li><a href="#">al tayer group</a></li>
                        <li><a href="#">contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-4 no-gutter">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-12 social-sharing no-gutter">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-12 copyright-section">
                    <ul class="external-footer-menu hidden-sm hidden-md hidden-lg">
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Al Tayer Group</a></li>
                        <li><a href="#">Amber</a></li>
                    </ul>
                    <ul class="policy-menu">
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms of Use</a></li>
                    </ul>
                    <p>Copyright &copy; Al Tayer Motors 2014. All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</div>