<div class="container-fluid double-container-gutter container-content-error">
    <div class="row double-row-gutter">
        <div class="col-xs-12 double-column-gutter">
            <h1>500</h1>
            <p>
                Sorry the server has encountered an internal error and cannot process your request. Please contact the website administrator or try again later.
            </p>
        </div>
    </div>
</div>
