<div class="modal-container">

    <div class="udemy-modal" data-require="base/views/sidenav">
        <div class="udemy-modal-content">
            <h1 class="heading">What course will your life take?</h1>
            <p class="subhead">Own your future by learning new skills online</p>
           
              {{> search-box}}

            <div class="feature-row">
                <div class="feature-col">
                    <i class="fa fa-users fa-3x" aria-hidden="true" id="icon-modal"></i>
                    <span class="desc">Over 11 million students</span>
                </div>
                <div class="feature-col">
                    <i class="fa fa-rocket  fa-3x" aria-hidden="true" id="icon-modal"></i>
                    <span class="desc">More than 40,000 courses</span>
                </div>
                <div class="feature-col">
                    <i class="fa fa-mobile  fa-3x" aria-hidden="true" id="icon-modal"></i>
                    <span class="desc">Learn at your pace on any device</span>
                </div>
            </div>
        </div>     

    </div>

</div>

