.container-content-error {
    @extend .no-slider-padding;
    padding-bottom: rem(25px);
    text-align: center;

    @include respond-to-min($tabletSize) {
        padding-bottom: rem(50px);
    }

    @include respond-to-min($desktopSize) {
        padding-bottom: rem(100px);
    }

    @include respond-to-min($laptopSize){
        padding-bottom: rem(150px);
    }

    @include respond-to-min($hdSize){
        padding-bottom: rem(200px);
    }

    h1 {
        @include latoBold();
        margin: 0;
        padding: rem(40px 0 30px);
        font-size: rem(60px);
        line-height: rem(40px);
        letter-spacing: rem(1px);

        @include respond-to-min($tabletSize) {
            padding: rem(30px 0);
            font-size: rem(80px);
            line-height: rem(80px);
        }

        @include respond-to-min($desktopSize) {
            padding: rem(40px 0);
            font-size: rem(100px);
            line-height: rem(100px);
        }
    }

    h3 {
        @include latoBold();
        padding: 0;
        font-size: rem(16px);
        line-height: rem(16px);
        margin: rem(0 0 10px);
        letter-spacing: rem(0.5px);
        color: $blueTextColor;

        @include respond-to-min($tabletSize) {
            font-size: rem(24px);
            line-height: rem(28px);
            margin: rem(0 0 20px);
        }

        @include respond-to-min($desktopSize) {
            font-size: rem(30px);
            line-height: rem(34px);
            margin: rem(0 0 20px);
        }
    }

    p {
        @include latoNormal();
        padding: 0;
        font-size: rem(14px);
        line-height: rem(18px);
        letter-spacing: rem(0.5px);
        margin: rem(0 0 10px);

        @include respond-to-min($tabletSize) {
            font-size: rem(18px);
            line-height: rem(22px);
            margin: rem(0 0 20px);
        }

        @include respond-to-min($desktopSize) {
            font-size: rem(20px);
            line-height: rem(24px);
            margin: rem(0 0 20px);
        }
    }
}
