<div class="input-selection-container {{this.class}} {{#if this.isRequired}}is-required{{/if}}" data-require="base/modules/date-picker">
    <input class="date-picker-input" type="text" placeholder="{{this.text}}" />
</div>