<div class="input-selection-container {{this.class}} {{#if this.isRequired}}is-required{{/if}}">
    <input type="text" placeholder="{{this.text}}" {{#if this.value}}value="{{this.value}}" {{/if}} {{#if this.readonly}}readonly{{/if}}/>
</div>