---
title: "Brand - Main navigation page"
---
<div class="main-navigation-mobile__container">
    <div class="main-navigation-mobile__header-bar">
        <a class="main-navigation-mobile__logo" href="/" title="Home">
            <img src="/img/logo_mobile.png" alt="" />
        </a>
    </div>
</div>

