


        
        <div class="el-slider" >
            <div class="el-slider__img" data-require="base/views/udemy_slider">
                {{#each udemy_header_slider.items}}
                <img src="{{bg-image}}" /> 
                {{/each}}
            </div>
        </div>
     

       
 





