<footer class="container-fluid" data-require="base/views/icononmouse">
	<div class="container udemy-footer-container">
		<ul class="list-inline" id="first-line">
	        <li ><a href="" class="active">About us</a="active"></li>
	        <li><a href="" class="active">Udemy for business</a></li>
	        <li><a href="" class="active">Become an instructor</a></li>
	        <li><a href="" class="active">Affiliates</a></li>
	        <li><a href="" class="active">Blog</a></li>
	        <li><a href="" class="active">Topics</a></li>
	        <li><a href="" class="active">Mobile Apps</a></li>
	        <li><a href="" class="active">Support</a></li>
	        <li><a href="" class="active">Careers</a></li>
	    </ul>
	    <ul class="list-inline" id="second-line">
	        <li>
	            <div class="dropup">
	            <span class="glyphicon glyphicon-globe" ></span>
	            <a href="" class= "dropdown-toggle" data-toggle="dropdown" style="color:#b0aeae">
	                English
	                <span class="caret"></span>
	            </a>
	                <ul class="dropdown-menu">
	                    <li><a href="javascript:void(0)" class="Language"  >Deutsch </a></li>
	                    <li><a  href="javascript:void(0)" class="Language" >Espanol </a></li>
	                    <li><a  href="javascript:void(0)" class="Language" >Francais </a></li>
	                </ul>
	            </div>
	        <li/>
	        <li >Copyright © 2016 Udemy, Inc.</li>
	        <li><a href="" >Terms</a></li>
	        <li><a href="">Privacy Policy</a></li>
	        <li><a href="">Intellectual Property</a></li>
	    </ul>
	</div>
</footer>
