body {
    text-align: center;
    background: url(../images/beach_bg.jpg) no-repeat center fixed;
    background-size: cover;
}
#title {
    margin-top: 50px;
    margin-bottom: 50px;
}
.col-xs-12 img {
    width: 100%;
    height: auto;
    
}
.col-xs-12{
    max-height: 550px;
}


#the-basics{
    float: right;
    margin-top: 20px;
    font-size: 1em;
    color: white;
    
}
#the-basics input{
    float: left;
}
.tt-suggestion .tt-selectable {
    margin-left: 100px;

}
