<div class="scroll-top-container" data-require="base/modules/scroll_top">
    <img src="/img/scroll_top_icon.png" alt="" />
    <span>Scroll to top</span>
    <img src="/img/scroll_top_arrow.png" alt="" />
</div>