---
title: "Cookies Disclaimer contents page"
---
<div class="cookies-container" data-require="base/views/cookies">
    <p>
        Al Tayer Motors uses cookies to improve your website browsing experience. If you want to find out more about the cookies we use and how to disable them, you can access our <a href="#">Privacy Policy</a> By continuing your visit on the website, you consent to the use of the cookies.
    </p>
    <span class="cookies-close">&nbsp;</span>
</div>