body {
    /*    background: url(../images/maiphuongthuy.jpg) no-repeat center fixed;*/
    background-size: cover;
    outline: 1px solid red;
}

.container {
    max-width: 1000px;
     outline: 1px solid green;
}

#logo-div {
    margin-top: 18px;
}

#nav-link {
    padding: 0px;
    padding-top: 40px;
}


.navbar-nav {
    float: right;
}

.navbar-nav>li {
    margin-left: 10px;
}

.navbar-nav>li>a {
    padding: 0px;
    color: black;
}

#pick-language {
    background-color: darkgrey;
    padding: 0px 3px;
    border-radius: 3px;
    margin-right: 5px;
}

#divider-language {
    color: white;
}

#nav-bot {
    margin-top: 40px;
}

#nav-bot>li>a {
    margin: 0px 10px;
    text-decoration: underline;
}


/*Main Content*/

#form-row {
    background: url(../images/bg_map.png) no-repeat center fixed;
    height: 400px;
}

#div-wellcome{
    padding: 0px;
    margin: 40px;
   
}

#welcome-text{
     font-style: italic;;
}


/*End css*/
