$quiz-footer-height: 60px;
$margin-top: 60px;

@mixin quiz_message_container{
    margin: 0 auto;
    padding: 0 15px 0 15px;
    width: 680px;
    max-width: 100%;
    max-height: 100%;

}

.quiz_title{
    margin-bottom: 30px;
    font-weight: 300;
    line-height: 1.287;
    font-size: 48px;

}

.quiz_page{
    display: none;
    
    &.active{
         display: flex;
    }
}
    
.message-container{
    @include quiz_message_container();
}
.quiz-container{
    margin: $margin-top 0 0 0;
    overflow-y: auto; 
    overflow: auto;
    flex-direction: row;
    -webkit-box-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;

    .quiz_description{
        margin: 0 0 10.5px;
        font-size: 17px;
    }

    p{
        margin: 0 0 10.5px;
        font-size: 24px;
    }

    ul{
        list-style: none;
        margin: 0;
        padding: 0;

        li{
            border: 1px solid #bfbfbf;
            margin-bottom: 15px;
            padding: 10px 15px 10px 10px;
            border-radius: 4px;
            width: 100%;
            position: relative;
            font-size: 24px;
            display: flex;
            &.correct{
                background: #17aa1c;
                padding-bottom: 20px;
                color: white;
            }

            &.wrong{
                background: #f4f4f4;
            }

            .answer_number{
                background: #1376d7;
                justify-content: center;
                color: #fff;
                width: 36px;
                height: 36px;
                margin-right: 15px;
                border-radius: 2px;
                display: flex;
                flex-direction: row;
                -webkit-box-align: center;

                .fa{
                    display: none;
                }

                .fa-check{
                    color: white;
                }

                &.choosed{
                    background: none;
                    .number{
                        display: none;
                    }
                }

            }

            .answer_text{
                overflow: hidden;
                text-overflow: ellipsis;
                flex: 1;
                min-width: 1px;
                font-size: 24px;
                width: 552px;
            }

            .hide_result{
                display: none;
                font-size: 18px;
                font-weight: bold;
                flex: 1;
                margin-top: 10px;
            }
        }
    }
}

.quiz_footer{
    background: #f4f4f4;
    border-top: 1px solid #e4e4e4;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $quiz-footer-height;
    display: flex;
    align-items: center;
    justify-content: center;
    .footer_left{
        padding-left: 24px;
        margin-left: -10px;
        -webkit-box-flex: 1;
        flex: 1;
        min-width: 1px;
    }

    .footer_right{
        flex: initial;
        min-width: 1px;
        -webkit-box-flex: initial;
        padding-right: 24px;
        margin-right: -10px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        justify-content: flex-end;

        .btn-footer{
            margin: 0 10px;
        }
    }
}

.quiz_result{
    flex-direction: column;
    .quiz_result_header{
        background: #1376d7;
        color: white;
        width: 100%;
        z-index: 1;
        left: 0;
        top: 0;
        padding: 30px 0;
        margin-bottom: 30px;
        min-height: 270px;
        .quiz_summary{
            @include quiz_message_container();
            color: white;

            .resultStatus{
                font-size: 30px;
                margin-bottom: 30px
            }

            .resultDetail{
                margin-bottom: 0;
                font-size: 15px;
                font-weight: 400;
            }


        }
    }

    .the-result{
        margin-top: 30px;
        display:none;

        .title{
            margin-bottom: 20px;
            font-size: 15px;
            display: block;
            font-weight: bold;
        }

        .fa-check{
            color: green;
        }

        ul{
            list-style: none;
            margin: 0;
            padding: 0;


            li{
                margin: 0 27px 0 10px;
                border-bottom: 1px #f4f4f4 solid;
                padding-bottom: 10px;
            }
        }
    }
}

                
.fa-times{
    color:red;
}

.btn{
    font-size: 17px;
    height: 44px;
}

.btn-start-quiz{
    border-radius: 2px;
    min-width: 80px;
}

.btn-skip-quiz{
    background-color: transparent;

    &:hover{
            background-color: rgba(0,0,0,0.1);
    }
}

