body{
    background: url(../images/maiphuongthuy.jpg) no-repeat center fixed;
    background-size: cover;

}

.container{
    border: 1px solid red;
}

.card-medium{
    border-radius: 5px;
    height: 500px;
    padding: 1px;
}
#cardContent{
    margin: 20px;
}

.input-field{
    margin: 0 15px;
}

.btn-floating{
    margin-bottom: 5px;
}

#btnClear{
    margin: 5px
}
#btnAdd{
    float: right;
    position: relative;
    margin-right: -10px;
    margin-top: -48px;
    z-index: 666;
}

.todo-task{
    border-radius: 5px;
    background-color: beige;
    margin: 10px;
    padding: 10px;
}


.todo-task > .task-header{
    font-size: 18px;
    font-weight: bold;
    color: red;
    text-align: center;
}

.todo-task > .task-date{
    font-size: small;
    font-style: italic;
}

.todo-task > .task-description{
    font-size: smaller;
}

/*

#delete-div{
    display: none;
    background-color: #fff;
    border: 3px dotted #000;
    margin: 10px;
    height: 75px;
    line-height: 75px;
    text-align: center;
}
*/
