---
title: "Home events block"
---
<div class="double-container-gutter container-fluid featured-container" data-require="base/modules/bootstrap-column-same-height">
    <div class="row double-row-gutter">
        <div class="col-xs-12 col-sm-12 col-md-4 double-column-gutter slide-in-from-bottom inactive checking-animate">
            {{> upcoming-event-block }}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 double-column-gutter slide-in-from-bottom inactive checking-animate">
            {{> img-background-block img-background-block.home-page}}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 double-column-gutter slide-in-from-bottom inactive checking-animate">
            {{> amber-block }}
        </div>
    </div>
</div>