---
title: "search box"
---

<form name="searching_form" id="home-searching-form" data-require="base/views/search-box">

    <div class="home-search-row">
        <div class="home-search-field">
            <input type="search" name="suggestive_search" id="home-search-field"
                   class="home-search-field__item"
                   placeholder="Search for Courses" autocomplete="off" />
            <!-- Suggestive searching result box -->
            <div class="suggestive-box">
                <ul class="" id="suggestive-box"></ul>
            </div>
        </div>

        <button type="submit" class="home-search-button">
            <span class="fa fa-search"></span>
        </button>
    </div>
</form>
