<div class="header" style="background-color:#540768">
    <div class="container-fluid">
        <div class="breadcrumb_list" style="color:#e8aafe">
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i></a></li>
                <li class="active" style="color:#fff">Category</li>
            </ol>
        </div>
        <div class="header_title">
            <h2>Category</h2>
        </div>
        <div class="tab_bar" >
            <ul class="tabs" style="color:#e8aafe">
                <li class="active"><a data-toggle="tab" href="#tab-1">Featured</a></li>
                <li><a data-toggle="tab" href="#tab-2" >All Courses</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="tab-content">
    <div id="tab-1" class="tab-pane in active">
       {{> course-page-2}} 
    </div>
    <div id="tab-2" class="tab-pane">
       
    </div>
</div>
